@import "../../globals.scss";
// Estilos de Hero ----------------------------------------------------------------
@keyframes appearAnimation {
  0% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-logo,
.hero-text,
.button2 {
  opacity: 0;
  animation: appearAnimation 1s ease forwards;
}

.hero-logo {
  animation-delay: 0.2s;
}

.hero-text {
  animation-delay: 0.6s;
}

.button2 {
  animation-delay: 1s;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../../__MACOSX/public/Images/imagenesHome/fondo.webp")
    no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  @media only screen and (max-width: 700px) {
    padding: 3rem 0 3rem 0;
    height: auto;
  }
}
.hero-logo {
  width: 800px;
  position: relative;
  z-index: 80;
  @media only screen and (max-width: 900px) {
    width: 80vw;
  }
}
.hero-logo-img {
  position: relative !important;
  object-fit: cover;
}

.hero-text {
  font-size: $fontTamnio;
  font-weight: 300;
  color: #fff;
  width: 50vw;
  text-align: center;
  margin: 2rem 0rem;
}

// Descubre ----------------------------------------------------------------
.descubre_container {
  color: $colorNegro;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7rem 2rem 7rem 2rem;
  gap: 6%;
  flex-wrap: wrap;
  .image {
    object-fit: cover;
  }
  @media only screen and (max-width: 797px) {
    margin: 5rem 2rem 5rem 2rem;
  }
}
@media only screen and (max-width: 702px) {
  .margen {
    margin-top: 4rem;
  }
}
.descubre_div {
  @include contenedorHome(40vw);
}
.descubre_icons {
  cursor: pointer;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  position: relative;
  opacity: 0;
  transform: translate(-200px, 0);
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
  justify-content: space-between;
  transition: 100ms ease-in-out;
  &:hover {
    color: $colorNegro;
  }
}
.descubre_icons h3::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 0;
  bottom: -15px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.descubre_icons h3:hover::after {
  width: 100%;
}

.descubre_icons_container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
}
.fontIco {
  font-size: 2rem;
  font-weight: 800;
}
// About ----------------------------------------------------------------

.about_container {
  color: $colorNegro;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 7rem 0 7rem 0;
  background-image: url("../../../public/Images/fondoIndex2.webp");
  background-size: cover;
  background-attachment: fixed;

  @media only screen and (max-width: 700px) {
    margin: 5rem 0 5rem 0;
    padding: 3rem 0 3rem 0;
    height: auto;
  }
}

.about_div {
  @include divGenerico;
  width: 70%;
  text-align: center;
}

.about_div_info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  .info {
    margin: 2rem 0 1rem 0;
    font-size: $fontTamnio;
  }
}
.images {
  position: relative;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.about_div_animation {
  animation: appearAnimation 1.2s ease forwards;
}

.about_div_info_animation {
  animation: appearAnimation 1s ease forwards 0.8s;
  opacity: 0;
}

.info_animation {
  opacity: 0;
  animation: appearAnimation 1s ease forwards 0.9s;
}
// GALERIA//
.galeria {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  gap: 0;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  .imagenesCont {
    overflow: hidden;
    position: relative;
    height: 25vw;
    .images {
      object-fit: cover;
      transition: all 350ms ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
.galeriaDos {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  gap: 0;
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  .imagesCont2 {
    overflow: hidden;
    transition: all 350ms ease;
    position: relative;
    height: 45vw;
    .images2 {
      object-fit: cover;
      transition: all 350ms ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
// tasas //

.tasas_container {
  @include containerCont;
}

.tasas_div {
  @include containerContII;
}

.tasas_ajust {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 2rem;
  padding: 1rem 3rem 0 3rem;
  > p {
    font-size: $fontTamnio2;
  }
  @media only screen and (max-width: 734px) {
    gap: 1rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 3rem 4rem;
  }
}

.tasas_logo {
  @include logoP($colorVerde);
}
.alto {
  height: 70vh !important;
}
.maps {
  margin-top: 40px;
  @media only screen and (max-width: 600px) {
    margin-top: 0;
  }
}
.ajust {
  padding: 2rem 3rem;
  @media only screen and (max-width: 600px) {
    padding: 0 0 3rem 3rem;
  }
}
// contact

.contact_container {
  @include containerCont;
}
.contact_div {
  @include containerContII;
}
.paddingg {
  padding: 5rem 4rem 1rem 0;
  @media only screen and (max-width: 600px) {
    padding: 0 3rem;
  }
}

.medios_icon {
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  position: relative;
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  height: 26vh;
  width: 25vh;
  border: 4px solid $colorVerde;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 10px -3px $colorVerdeClaro;
  transition: 500ms ease-in-out;
}
.medios_icon:hover {
  box-shadow: 0px 0px 21px 0px rgba(228, 193, 17, 0.684);
  transform: scale(1.1);
}

// medios //////////////////////////////////////////////////////////////////

.medios_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 3rem;
  gap: 3rem;
  @media only screen and (max-width: 710px) {
    padding: 3rem 3rem;
  }
  @media only screen and (max-width: 380px) {
    padding: 1rem 3rem;
  }
}
.medios_icons_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
}

.medios_icon {
  opacity: 0.1;
  position: relative;
  transform: scale(0.2);
  color: black;
}
// TITULOS-------------------------------//
.class {
  color: $colorNegro;
  margin: 1rem 0;
  position: relative;
  letter-spacing: 2px;
  .classTitle {
    font-size: clamp(2em, 5vw, 4em);
  }
}
.titleContacto {
  color: $colorBlanco;
  margin: 1rem 0;
  position: relative;
  letter-spacing: 2px;
  font-size: clamp(2em, 5vw, 5em);
}
.class1 {
  color: $colorNegro;
  margin: 1rem 0;
  position: relative;
  letter-spacing: 2px;
  .class1Title {
    font-size: clamp(2em, 5vw, 4em);
  }
}
.color-fix {
  color: #fff;
}
.class1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  height: 10px;
  width: 40%;
  left: 0;
  background-color: $colorAmarillo;
}

.class::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  height: 10px;
  width: 40%;
  left: 0;
  background-color: $colorVerde;
}
//FIN------ TITULOS-------------------------------//

// footer

.footer-ajust {
  margin-top: 30px;
}
.footer-container {
  background-color: #1f5436;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 1rem;
  gap: 4rem;
}
.footer-info {
  padding: 20px;
  @media only screen and (max-width: 624px) {
    width: 100%;
    text-align: center;
  }
}
.footer-logo {
  height: 50vh;
  object-fit: contain;
  width: 30vw;
  margin-top: 3rem;
  @media only screen and (max-width: 624px) {
    height: 30vh;
    margin-top: 1rem;
  }
}
.footer-container2 {
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.marca {
  text-align: center;
}
.titulof {
  font-size: clamp(1em, 3.5vw, 3em);
  padding: 2rem 0;
  color: #dbab1e;
}
.button2 {
  font-size: $fontTamnioBoton;
  text-align: center;
  letter-spacing: 2px;
  padding: 0.5rem 3rem;
  margin: 1rem;
  border: solid 4px #dbab1e;
  background-color: $colorAmarillo;
  border-radius: 30px;
  color: #fff;
  transition: 200ms ease-in-out;
  &:hover {
    box-shadow: 0 0 20px rgba(219, 171, 30, 0.7);
  }
}
.button-color-green {
  background-color: $colorVerde;
  border: solid 4px $colorVerde;
  &:hover {
    box-shadow: 0 0 20px $colorVerdeClaro;
  }
}
.button1 {
  padding: 0.8rem 2rem;
  height: 7vh;
  width: 8vh;
  letter-spacing: 2px;
  color: #fff;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  border: 4px solid #dbab1e;
  background-color: transparent;
  transition: 1s ease-in-out;
  &:hover {
    width: 20vh;
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
