/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./app/components/componentes-contacto/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contact-maxCont {
  height: 200vh;
  background: url(/_next/static/media/fondo2.97da91bc.webp) center;
  background-size: cover;
  padding-bottom: 40px;
}

.section-info {
  font-family: "Avenir", sans-serif;
  padding: 10% 15% 2% 15%;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 555px) {
  .section-info {
    padding: 0 3rem 0 3rem;
    gap: 1rem;
  }
}
.section-info .title {
  font-size: 5vw;
  letter-spacing: 8px;
  margin: 1rem 0;
}
.section-info .p-state {
  font-size: clamp(1em, 3vw, 1.4em);
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
